@font-face {
  font-family: 'ITC Korinna';
  src: url('//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.eot');
  src: url('//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/e3e3a81b2544f4508a75573a04e0cafa.svg#ITC Korinna') format('svg');
}